*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    margin: 10% auto;
}

.game_board{
    height: 320px;
    width: 320px;
    background-color: black;
    display: flex;
    flex-wrap: wrap;

}
.square{
    height: 40px;
    width: 40px;
    position: relative;
}
.green{
    background-color: #42b883;
}

.blue{
    background-color: #000080;
}

.icons svg{
     height : 30px;
     width : 30px;
     margin : 5px;
     position: relative;
     z-index: -9;
}

.icons{
    position: relative;
    z-index: 1;
}

.white{
    fill: aliceblue;
}
.black{
    fill:black;
}


.play-turn{
    padding-left: 20px;
}